extends layout

block content
  div
    h2(style='text-align: center;') The Chinese and English Learner Language Corpus
    h2(style='text-align: center;') (The CELL Corpus)
    br
    br
    br
    br
    h2(style='text-align: center;') Supported by the Research Grants Council
    h2(style='text-align: center;') of the Hong Kong SAR
    br
    br
    br
    h2(style='text-align: center;') (Project Code: UGC/IDS16/17)