@import "~bootstrap";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #eeeeee;
}

header {
    margin-bottom: 20px;

    .logo {
        margin-right: 6px;
    }
}

main {
    padding-top: 80px;

    .content {
        position: relative;
        padding: 1rem;
        margin: 1rem -15px 0;
        border: solid #f8f9fa;
        border-width: .2rem 0 0;
        background: #ffffff;
        border-radius: 5px;
    }

    label.required::after {
        content: ' *';
        color: red;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
}

.auth-form {
    width: 600px;

    &.content {
        margin: 0 auto;
    }
}

.basic-search {
    height: calc(100vh - 220px);
    justify-content: center;
    align-items: center;
    display: flex;

    .content {
        padding: 4rem 2rem 2rem;
    }
}
